@media screen and (min-width: 576px){
    .home__img img{
        width: 500px;
    }

    .qualification__container,
    .project__container{
        grid-template-columns: repeat(2,1fr);
    }

    .contact__form{
        width: 450px;
        justify-self: center;
    }
    .home__profession{
        font-size: 1.50rem;
    }
}

@media screen and (min-width: 360px){
    .home__img img{
        width: 750px;
        height: 370px;
    }
}


@media screen and (min-width: 200px){
    .home__profession{
        font-size: 1.20rem;
    }
}

@media screen and (min-width: 400px){
    .home__img img{
        width: 750px;
        height: 430px;
    }
    .home__profession{
        font-size: 1.50rem;
    }
}


/*
@media screen and (min-width: 765px){
    .home__img img{
        width: 550px;
    }
}
*/
@media screen and (min-width: 769px){
    body{
        margin: 0;
    }

    .section{
        padding-top: 6rem;
    }

    .section_title{
        margin-bottom: var(--mb-5);
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__list{
        display: flex;
    }

    .nav__item{
        margin-left: var(--mb-5);
        margin-bottom: 0;
    }

    .nav__toggle{
        display: none;
    }

    .home__container{
        height: 100vh;
        grid-template-rows: max-content .5fr;
        align-content: flex-end;
    }

    .home__greeting{
        font-size: 1.25rem;
    }

    .home__profession{
        font-size: 1.70rem;
    }

    .home__social{
        flex-direction: row;
    }

    .home__social-icon{
        width: max-content;
        font-size: 1.3rem;
        margin-bottom: var(--mb-2);
        color: var(--first-color-lighten);
        cursor: pointer;
        margin-right: var(--mb-4);
    }

    /*.home__social{
        display: flex;
        flex-direction: column;
    }*/

    /*.home__social-icon{
        margin-right: var(--mb-4);
        margin-bottom: 0;
    }*/

    .home__img img{
        width: 540px;
    }

    .about__description{
        text-align: initial;
    }

    .qualification__box{
        justify-content: space-between;
    }

    .skills__container{
        grid-template-columns: repeat(2,1fr);
    }

    /*.project__container{
        grid-template-columns: repeat(3,1fr);
    }*/
}

@media screen and (min-width: 1024px){
    .bd-container{
        margin-left: auto;
        margin-right: auto;
    }

    .qualification__container{
        column-gap: 6rem;
    }
}

@media screen and (max-width: 1024px){
    .home__img img{
        display: none;
    }

    .home__social{
        flex-direction: row;
    }

    .home__social-icon{
        width: max-content;
        font-size: 1.3rem;
        margin-bottom: var(--mb-2);
        color: var(--first-color-lighten);
        cursor: pointer;
        margin-right: var(--mb-4);
    }
}

@media screen and (max-width: 400px){
    .button1{
        margin-bottom: 10px;
    }
}
